{% load static %}
<!-- START: Styles -->
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500%7cNunito+Sans:400,600,700%7cPT+Serif:400,400i"
      rel="stylesheet" type="text/css">
<!-- Bootstrap -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.min.css"/>
<!-- Photoswipe -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.css"/>
<!-- Piroll -->
<link rel="stylesheet" href="{% static 'assets/css/piroll.css' %}">
<!-- Custom Styles -->
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">