{% load static %}
<!-- START: Styles -->
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500%7cNunito+Sans:400,600,700%7cPT+Serif:400,400i"
      rel="stylesheet" type="text/css">
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'assets/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{% static 'assets/flickity/dist/flickity.min.css' %}">
<!-- Photoswipe -->
<link rel="stylesheet" href="{% static 'assets/photoswipe/dist/photoswipe.css' %}">
<link rel="stylesheet" href="{% static 'assets/photoswipe/dist/default-skin/default-skin.css' %}">
<!-- Piroll -->
<link rel="stylesheet" href="{% static 'assets/css/piroll.css' %}">
<!-- Custom Styles -->
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">