{% load static %}
<!-- START: Scripts -->
<script src="{% static 'assets/jquery/dist/jquery.min.js' %}"></script>
<!-- GSAP -->
<script src="{% static 'assets/gsap/src/minified/TweenMax.min.js' %}"></script>
<script src="{% static 'assets/gsap/src/minified/plugins/ScrollToPlugin.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'assets/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Sticky Kit -->
<script src="{% static 'assets/sticky-kit/dist/sticky-kit.min.js' %}"></script>
<!-- Jarallax -->
<script src="{% static 'assets/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'assets/jarallax/dist/jarallax-video.min.js' %}"></script>
<!-- Flickity -->
<script src="{% static 'assets/flickity/dist/flickity.pkgd.min.js' %}"></script>
<!-- isotope -->
<script src="{% static 'assets/isotope/dist/isotope.pkgd.min.js' %}"></script>
<!-- photoswipe -->
<script src="{% static 'assets/photoswipe/dist/photoswipe.min.js' %}"></script>
<script src="{% static 'assets/photoswipe/dist/photoswipe-ui-default.min.js' %}"></script>
<!-- Jquery Form -->
<script src="{% static 'assets/jquery-form/dist/jquery.form.min.js' %}"></script>
<!-- Jquery Validation -->
<script src="{% static 'assets/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<!-- Hammer.js -->
<script src="{% static 'assets/hammer.js/hammer.min.js' %}"></script>
<!-- Social Likes -->
<script src="{% static 'assets/social-likes/dist/social-likes.min.js' %}"></script>
<!-- NanoSroller -->
<script src="{% static 'assets/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js' %}"></script>
<!-- Keymaster -->
<script src="{% static 'assets/keymaster/keymaster.js' %}"></script>

<script src="{% static 'assets/js/piroll.min.js' %}"></script>
<script src="{% static 'assets/js/piroll-init.js' %}"></script>
<!-- END: Scripts -->